SageID_2_0_SDK_November2012 - Copy/Schema/Notification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://sso.sage.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:ms="http://microsoft.com/wsdl/types/" targetNamespace="http://sso.sage.com" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="XMLDigitalSignature.xsd"/>
	<xs:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="Guid.xsd"/>
	<xs:include schemaLocation="Principal.xsd"/>
	<xs:element name="Notification" type="tns:Notification" nillable="false">
		<xs:annotation>
			<xs:documentation>This type represents digitally-signed notifications generated by SageSSO.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Notification">
		<xs:annotation>
			<xs:documentation>This type represents digitally-signed notifications generated by SageSSO.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NotificationId" type="ms:guid" nillable="false">
				<xs:annotation>
					<xs:documentation>The unique, non-repeating ID of this notification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issued" type="xs:dateTime" nillable="false">
				<xs:annotation>
					<xs:documentation>The instant at which this notification was issued.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" nillable="false">
				<xs:annotation>
					<xs:documentation>The notification type name (e.g. "SessionEnded").</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Parameters" nillable="false">
				<xs:annotation>
					<xs:documentation>A collection of name / value pairs relevant to the notification type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="Parameter" type="tns:Parameter" nillable="false">
							<xs:annotation>
								<xs:documentation>A name / value pair.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ds:Signature"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Parameter">
		<xs:annotation>
			<xs:documentation>A type holding a simple name / value pair.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" nillable="false">
				<xs:annotation>
					<xs:documentation>The name of this parameter. The name cannot be null or empty.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value" type="xs:string" nillable="true">
				<xs:annotation>
					<xs:documentation>The value of this parameter. The value may be null.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
